/*
 * Peach - Clean & Smooth Admin Template
 * by Stammi <http://themeforest.net/user/Stammi>
 * 
 * ===================
 *   Charts Plugin
 * ===================
 * 
 */

.graph.large {
	height: 600px;
	margin: 10px auto;
}

.graph.medium {
	height: 400px;
	margin: 10px auto;
}

.graph.small {
	height: 200px;
	margin: 10px auto;
}

